<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoPost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\" />
      <datePattern value="AUTOPOST_yyyyMMdd'.txt'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maximumFileSize value="10MB" />
      <!--Maximum 10MB/1 file-->
      <parameterName value="@LoggingInfo" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date - %level - %property{LoggingInfo}%message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="NameAccessToken" value="Authorization-Token"/>
    <add key="ValueAccessToken" value=""/>
    <add key="WebRoot" value="http://34.213.208.238/medicinenote-sys/Pc-sys/adminsys/index.php/api/notehd/readJhsFiles"/>
    <!--Type-->
    <add key="Extension" value="*.JHS"/>
    <!--Scan-->
    <add key="FilePahts" value=""/>
    <!--オンタイム-->    
    <add key="Ontime" value=""/> 
    <!--遅延-->  
    <add key="Delay" value=""/>
    <!-- FileDirUpload-->
    <add key="FileDirUpload" value="D:\UpFile\"/>
    <!-- アプリケーションのタイトル -->
    <add key="ApplicationTitle" value="自動アップロードソフト" />
    <!-- 最後にログインしたユーザのアカウント -->
    <add key="LastLoginID" value="" />  
    <add key="LastLoginPwd" value="" />
    <!-- 印刷中のプリンター -->
    <add key="CurrentPrinter" value="" />
    <!-- データ確認と自動印刷の頻度 -->
    <add key="PrintInterval" value="1000" />
    <!-- サーバとローカルコンピュータにファイルを保存するフォルダー -->
    <add key="FileDirOnLocal" value="PrintData" />
    <add key="PrintedFileDirOnLocal" value="PrintedData" />
    <add key="FileDirOnServer" value="/home/fine-medical/www/{cocode}/store/{storeno}/" />
    <!-- ウェブサイトのURL -->
    <!--<add key="WebRootUrl" value="https://health-care-fm.jp/prescription-sys/Pc-sys" />-->
    <add key="WebRootUrl" value="https://health-care-fm.jp/prescription-sys/Pre-Pc-sys" />
    <!-- Days to delete printed file -->
    <add key="DaysToDeletePrintedData" value="4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- Seasons of the year -->
    <add key="Spring" value="3/1" />
    <add key="Summer" value="6/1" />
    <add key="Autumn" value="9/1" />
    <add key="Winter" value="12/1" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <AutoPost.Properties.Settings>
      <setting name="CurrentPrinter" serializeAs="String">
        <value>PDF reDirect v2</value>
      </setting>
    </AutoPost.Properties.Settings>
  </applicationSettings>
</configuration>